<html>
<link rel="stylesheet" type="text/css" href="../static/style1.css">
<head>
    <title>Grocery Oasis</title>
</head>
<body>
    <h1 class="com-name">Grocery Oasis</h1>
    <nav>[ <a href="/">Homepage</a> | <a href="/customers">Customers</a> | <a href="/orders">Orders</a> | <a href="/receipts">Receipts</a> | <a href="/items">Items</a> | <a href="/order_items">Order_Items</a> | <a href="/receipt_items">Receipt_Items</a>]</nav>
    <hr>
    <p>Grocery Oasis is an online grocery store with an annual revenue of $5 million. On
        average the website serves 1000 customers weekly. Each transaction is said to average $100. The
        database stores information provided by the customer whenever an online purchase is made. The
        application will allow customers who do not have access to transportation or do not have the
        time to navigate to their nearest store to purchase their weekly groceries. Customers will be able
        to create an account that will provide discounts and show available inventory. For example, if a
        customer is searching for watermelon, the database will display the quantity of watermelon
        available. Furthermore, available discounts and promotions will be stored in the database such as
        10 or even 20 percent discounts on items.
    </p>
    <div>
        <table border = "1" cellpadding="5">
            <tbody>
                <tr>
                    <th>Table Name</th>
                    <th>Description</th>
                </tr>
                <tr>
                    <td><a href="/customers">Customers</a></td>
                    <td>Entity that contains data about customers who use the grocery store.</td>
                </tr>
                <tr>
                    <td><a href="/orders">Orders</a></td>
                    <td>Entity that contains data about the customers' orders.</td>
                </tr>
                <tr>    
                    <td><a href="/receipts">Receipts</a></td>
                    <td>Entity that contains data about what items were purchased.</td>
                </tr>    
                <tr>
                    <td><a href="/items">Items</a></td>
                    <td>Entity that contains the items we sell in the store.</td>
                </tr>
                <tr>
                    <td><a href="/order_items">Order_Items</a></td>
                    <td>Intersection table between Orders and Items.</td>
                </tr>
                <tr>
                    <td><a href="/receipt_items">Receipt_Items</a></td>
                    <td>Intersection table between Receipts and Items.</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
