<link rel="stylesheet" type="text/css" href="../static/style1.css">
<head>
    <title>Order_Items</title>
</head>
<body>
    <nav>[ <a href="/">Homepage</a> | <a href="/customers">Customers</a> | <a href="/orders">Orders</a> | <a href="/receipts">Receipts</a> | <a href="/items">Items</a> | <a href="/order_items">Order_Items</a> | <a href="/receipt_items">Receipt_Items</a>]</nav>
    <hr>
    <div>
        <h1 class="com-name">Order_Items</h1>
        <table border = "1" cellpadding="5">
            <tbody>
                <tr>
                    <th>FK Order Num</th>
                    <th>FK Item Num</th>
                </tr>
                <tr>
                    <td>253</td>
                    <td>4568</td>
                </tr>
                <tr>
                    <td>987</td>
                    <td>9874</td>
                </tr>
                <tr>    
                    <td>124</td>
                    <td>32154</td>
                </tr>    
            </tbody>
        </table>
    </div>
</body>