<link rel="stylesheet" type="text/css" href="../static/style1.css">
<head>
    <title>Order_Items</title>
    <script language="JavaScript">
	function showform(dowhat) {
		/*
		 * four DIVS: browse, insert, update, delete
		 * this function sets one visible the others not
		 */
		if(dowhat == 'insert') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'block';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'none';
               		} else if(dowhat == 'all') {
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'block';
			document.getElementById('edit').style.display = 'block';
			document.getElementById('delete').style.display = 'block';
		} else { //by default display browse
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'none';
		}
	}
	function newRItem() {
		showform('insert');
	}
	function browseItems() {
		showform('browse');
	}
	function showAll() {
		showform('all');
	}
	</script>
</head>
<body>
    <nav>[ <a href="/">Homepage</a> | <a href="/customers">Customers</a> | <a href="/orders">Orders</a> | <a href="/receipts">Receipts</a> | <a href="/items">Items</a> | <a href="/order_items">Order_Items</a> | <a href="/receipt_items">Receipt_Items</a>]</nav>
    <hr>
    <div id="browse">
        <table border = "1" cellpadding="5">
                    <h1 class="com-name">Receipt_Items</h1>
                    <tdead>
                      {% if R_I and request.method != 'POST' %}
                        <tr>
                            {% for key in R_I[0].keys() %}
                            <th>{{key}}</th>
                            {% endfor %}                             
                      
                            
                        </tr>
                       {% endif %}
                    </tdead>
                    <tbody>
                    {% for item in R_I %}
                    <tr>
                        {% for key in R_I[0].keys() %}
                        <td>{{item[key]}}</td>
                        {% endfor %}  

                    </tr>
                    {% endfor %}
                    </tbody>
        </table>
        <input2>
        <input type="submit" value="Add Receipt" name="Add Receipt" onClick="newRItem()">
        </input2>
    </div>
    <div id="insert" style="display: none;">
		
		<form id="insertRItem" action="/insert_receipt_item" method="post">
			<legend><strong>Add Receipt Item</strong></legend>
            <fieldset>
    
                <label for="model">Receipt Id:</label>
                <select type="text" class="form-control" id="receipt" method="GET" action="/" name="receipt" placeholder="xxx-xxx-xxxx" required>
                    {% for result in Dropdown[0:] %}
                        <option value="{{result['receipt_id']}}">{{result['receipt_id']}}</option>
                    {% endfor %}
                </select>
  
                <label for="color">Item Number:</label>
                <select type="text" class="form-control" id="item" method="GET" action="/" name="item" placeholder="xxx-xxx-xxxx" required>
                    {% for result in Dropdown2[0:] %}
                        <option value="{{result['item_num']}}">{{result['item_num']}}</option>
                    {% endfor %}
                </select>
            </fieldset>

            <!-- Create 'Add Person' and 'Cancel' buttons -->
			<input type="submit" value="Add To Intersection" name="Add_RItem" class="btn btn-primary" style="margin:.5rem;">
			<input class="btn" type="button" value="Cancel" onClick="browseItems()"> 
        </form>
	</div>
</body>
